#contact .row1 {
  background: url("../img/contact_bild.png") center no-repeat;
  padding-top: 60px;
  padding-bottom: 60px;
}

#contact .container {
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 20px #C7C7C7;
}

#contact .button {
  padding: 5px 25px;
  display: inline-block;
  outline: none !important;
  border: 3px solid white;
  border-radius: 8px;
  color: white !important;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none !important;
  transition: 0.3s all;
}

#contact .button:hover {
  color: #053575 !important;
  background-color: white;
  border-color: white;
}

#contact .space {
  padding: 20px;
}

#contact p {
  font-size: 14px;
  font-weight: 400 !important;
  color: white;
  margin-bottom: 0px !important;
}

#contact h6 {
  font-size: 14px;
  font-weight: 700 !important;
  color: white;
  margin-bottom: 6px !important;
}
