#datenschutz .row1 {
    background: url("../img/impressum_header.png") center no-repeat;
    background-size: cover;
    margin-bottom: 10px;
    padding-top: 75px;
    height: 203px;
}

#datenschutz .container.text-center.header {
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 20px #C7C7C7;
}

#datenschutz .row2 {
  padding: 40px;
  margin-bottom: 20px;
  background-color: white;
  box-shadow: 0px 0px 20px #C7C7C7;
}

#datenschutz li {
  font-size: 14px;
  font-weight: 400 !important;
  color: #053575;
  margin-bottom: 0px !important;
}

@media (max-width: 380px) {
    #datenschutz .row2 {padding-left: 15px; padding-right: 15px;}
}
