#footer {
  background-color: white;
}

#footer .container {
  margin-top: 60px;
  padding-top: 20px;
  padding-bottom: 12px;
}

#footer a {
  font-size: 14px;
  font-weight: 700 !important;
  color: #053575;
}

#footer .space.footer {
  padding: 5px;
}
