#home .row.oben {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
  box-shadow: 0px 0px 20px #C7C7C7;
}

#home .col-md-6 img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#home .col-md-6.text-left {
  padding: 60px;
}

#home .img-container {
  position: relative;
  overflow: hidden;
}

#home .text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(5, 53, 117, .8);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#home .img-container:hover img {
  transform: scale(1.2);
}

#home .col-lg-4 {
  padding: 0;
}

#home .col-lg-4 img {
  max-width: 100%;
  object-fit: cover;
  transition: all .3s ease-in-out;
}

#home .col-lg-4:first-child {
  padding-right: 13.33px;
}

#home .col-lg-4:last-child {
  padding-left: 13.33px;
}

#home .col-lg-4:nth-child(2) {
  padding: 0 6.77px;
}

#home .col-md-6.bild {
    background: url("../img/home_bild1.png") center no-repeat;
    background-size: cover;
}

#home .space_bild {
  padding: 200px;
}

@media (max-width: 380px) {
    #home .col-md-6.text-left {padding-left: 30px; padding-right: 30px;}
}

@media (max-width: 1200px) {
  #home .text-container h2 { font-size: 30px; }
}

@media (max-width: 991px) {
  #home .col-md-12 {
    padding-bottom: 20px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  #home .col-md-12:last-child {
    padding-bottom: 0 !important;
  }
}
