#leistung .row1 {
    background: url("../img/leistung_header.png") center no-repeat;
    background-size: cover;
    margin-bottom: 10px;
    padding-top: 60px;
    height: 203px;
}

#leistung .container.text-center.header {
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 20px #C7C7C7;
}

#leistung .row2 .col-md-6:first-child {
    padding-right: 10px;
    padding-left: 0;
    padding-bottom: 20px;
}

#leistung .row2 .col-md-6:last-child {
    padding-right: 0;
    padding-left: 10px;
    padding-bottom: 20px;
}

#leistung .row.row2 {
    padding-bottom: 20px !important;
}

#leistung .text-leistung {
    height: 100%;
    background-color: white;
    padding: 40px;
    box-shadow: 0px 0px 20px #C7C7C7;
}

#leistung .col-md-12 {
  padding: 0px;
}

#leistung .col-md-12 img {
  width: 100px;
  padding-top: 20px;
}

@media (max-width: 767.98px) {
    #leistung .row2 .col-md-6:first-child { padding-right: 0px; }
    #leistung .row2 .col-md-6:last-child { padding-left: 0px; }
}

@media (max-width: 380px) {
    #leistung .text-leistung {padding-left: 30px; padding-right: 15px;}
}
