/*@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import "nav.css";
@import "home.css";
@import "footer.css";
@import "contact.css";
@import "projekte.css";
@import "leistung.css";
@import "profil.css";
@import "partner.css";
@import "datenschutz.css";
@import "impressum.css";*/

html, body {
  font-family: 'Lato';
  background-image: linear-gradient( #FFFFFF, #EEEEEE);
  position: relative;
}

.bg {
  height: 574px;
  width: 629px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.button {
  padding: 5px 25px;
  display: inline-block;
  outline: none !important;
  border: 3px solid #053575;
  border-radius: 8px;
  color: #053575 !important;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none !important;
  transition: 0.3s all;
}

.button:hover {
  color: white !important;
  background-color: #053575;
  border-color: #053575;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p {
  font-size: 14px;
  font-weight: 400 !important;
  color: #053575;
  margin-bottom: 0px !important;
}

h1 {
  font-size: 40px;
  font-weight: 700 !important;
  color: #053575;
}

h2 {
  font-size: 36px;
  font-weight: 700 !important;
  color: white;
}

h3 {
  font-size: 20px;
  font-weight: 300 !important;
  color: #053575;
}

h4 {
  font-size: 18px;
  font-weight: 300 !important;
  color: white;
}

h5 {
  font-size: 20px;
  font-weight: 700 !important;
  color: #053575;
}

h6 {
  font-size: 14px;
  font-weight: 700 !important;
  color: #053575;
  padding-top: 5px;
}

.space {
  padding: 10px;
}

@media (max-width: 576px) {
    h2 {font-size: 30px !important;}
}
