.navbar {
    background-color: none;
}

.navbar-brand img {
    width: 100px;
}

.navbar-toggler {
    border: none;
    outline: none !important;
    color: #053575 !important;
}

.nav-link {
    padding-top: 0.4rem !important;
    padding-bottom: 0.4rem !important;
    padding-left: 1.1rem !important;
    padding-right: 1.1rem !important;
    font-size: 0.8rem;
    font-family: 'Lato';
    font-weight: 900 !important;
    display: inline;
    color: #053575 !important;
}
.nav-item {
    padding-top: 0.5rem !important;
}

.nav-item .active,
.nav-link:hover {
    color: white !important;
    background-color: #053575;
    border-radius: 8px;
    font-family: 'Lato';
    font-weight: 700 !important;
}
