#profil .row1 {
    background: url("../img/profil_header.png") center no-repeat;
    background-size: cover;
    margin-bottom: 10px;
    padding-top: 75px;
    height: 203px;
}

#profil .container.text-center.header {
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 20px #C7C7C7;
}

#profil .row2 {
  padding: 40px;
  margin-bottom: 20px;
  background-color: white;
  box-shadow: 0px 0px 20px #C7C7C7;
}

@media (max-width: 991px) {
    #profil .col-lg-4 {padding-top: 40px;}
}

@media (max-width: 380px) {
    #profil .row2 {padding-left: 15px; padding-right: 15px;}
}
